#block1{
    width  : 150px;
    height : 40px;
    background : green;
    margin-left: 86%;
}
#block2{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 70%;
}
#block3{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 54%;
}
#block4{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 38%;
}
#block5{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 22%;
}
#block6{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 6%;
}
#blockA1{
    width  : 150px;
    height : 40px;
    background : green;
    margin-left: 86%;
}
#blockA2{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 70%;
}
#blockA3{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 54%;
}
#blockA4{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 38%;
}
#blockA5{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 22%;
}
#blockA6{
    width  : 150px;
    height : 40px;
    background : green;
    margin-top: -3.3%;  
    margin-left: 6%;
}
